Repository CodeSystem2022/Hellfish_4to_semestre, pull requests merged in 2023-08, with the labels that each got.

#18 Fabri
  Python/01/capa_datos_persona/Persona.py
  Python/01/capa_datos_persona/Usuario.py
  Python/01/capa_datos_persona/capa_datos.log
  Python/01/capa_datos_persona/conexion.py
  Python/01/capa_datos_persona/cursor_del_pool.py
  Python/01/capa_datos_persona/logger_base.py
  Python/01/capa_datos_persona/persona_dao.py
Labels: Python

#20 Python - 1.1 Comenzamos con el laboratorio de usuario: crear el UML
  Python/01/laboratorio_usuarios.uxf
Labels: Python

#22 JS - 1.2 Cargamos el código HTML y js
  JavaScript/e-commerce2022/client/js/index.js
  JavaScript/e-commerce2022/client/js/products.js
Labels: JS

#30 JAVA: 1.2 Creamos el main -> SistemaEstudiantesApp.java
  Java/01/estudiante/src/main/java/UTN/presentacion/SistemaEstudiantesApp.java
Labels: JAVA

#31 JAVA: 1.3 Método mostrarMenu()
  Java/01/estudiante/src/main/java/UTN/presentacion/SistemaEstudiantesApp.java
Labels: JAVA

#42 JAVA: 2.1 Comenzamos configurando Spring -> Parte 1 y 2
  Java/Lección01/Lección01/estudiantes/HELP.md
  Java/Lección01/Lección01/estudiantes/mvnw
  Java/Lección01/Lección01/estudiantes/mvnw.cmd
  Java/Lección01/Lección01/estudiantes/pom.xml
  Java/Lección01/Lección01/estudiantes/src/main/java/utn/estudiantes/EstudiantesApplication.java
  Java/Lección01/Lección01/estudiantes/src/main/resources/application.properties
  Java/Lección01/Lección01/estudiantes/src/test/java/utn/estudiantes/EstudiantesApplicationTests.java
Labels: JAVA
